* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.hero .hero-row {
  display: flex;
  min-height: 700px;
  flex-wrap: wrap;
}
.hero .hero-row .hero-left,
.hero .hero-row .hero-right {
  width: 50%;
  padding: 0 40px;
}
.hero .hero-row .hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero-row .hero-left h1 {
  font-size: 3.6rem;
}
.hero .hero-row .hero-left h2 {
  font-size: 4.3rem;
  margin: 15px 0;
}
.hero .hero-row .hero-right {
  background: #dcffca;
  position: absolute;
  right: 0;
  border-radius: 15px 0 0 15px;
  height: 700px;
  display: flex;
  align-items: center;
}
.hero .hero-row .hero-right .image {
  width: 25vw;
  margin-left: -100px;
}
.hero .hero-row .hero-right span {
  rotate: 90deg;
  color: #216000;
  font-size: 9vw;
  opacity: 0.15;
  font-weight: 800;
  line-height: 1;
  height: 50%;
  width: 50%;
  margin-top: -9vw;
}
@media screen and (max-width: 991.98px) {
  .container {
    padding: 0 15px;
  }
  .hero .hero-row .hero-left,
  .hero .hero-row .hero-right {
    width: 100%;
  }
  .hero .hero-row .hero-left {
    text-align: center;
    padding: 30px 0;
  }
  .hero .hero-row .hero-right {
    position: static;
    border-radius: 15px;
    justify-content: center;
  }
  .hero .hero-row .hero-right .image {
    margin: 0;
  }
  .hero .hero-row .hero-right span {
    margin-top: 0;
    height: 20%;
    width: 30%;
  }
}
@media screen and (max-width: 767.98px) {
  .hero .hero-row .hero-right {
    display: flex;
    flex-direction: column;
  }
  .hero .hero-row .hero-right .image {
    width: 50vw;
  }
  .hero .hero-row .hero-right span {
    rotate: 0deg;
    text-align: center;
    width: 50%;
    font-size: 11vw;
  }
}
