/* #title {
  color: red;
}
.sub-title {
  color: green;
}
h3 {
  color: blueviolet;
} */

/* .box .title {
  color: red;
}
.container .title {
  color: green;
} */

/* .box > .title {
  color: red;
} */

/* .menu > li > a {
  color: red;
} */

/* .item.large {
  color: red;
} */

/* .active .highlight {
  color: red;
} */

/* p ~ h2 {
  color: red;
}

p ~ div h2 {
  color: green;
} */

h2 + h2 {
  color: red;
}
