<<<<<<< Updated upstream
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
.active {
  background: yellow;
}
.product {
  border: 1px solid red;
}
<<<<<<< Updated upstream
=======
.active {
  background: yellow;
}
.product {
  border: 1px solid red;
}
>>>>>>> 08b3f08 (Update code)
=======
>>>>>>> Stashed changes
