<<<<<<< HEAD
.active {
  background: yellow;
}
.product {
  border: 1px solid red;
}
=======
.active {
  background: yellow;
}
.product {
  border: 1px solid red;
}
>>>>>>> 08b3f08 (Update code)
